#geral{
    width: 500px;
    min-height: 600px;
    margin: 20px auto;
    padding: 25px;
    letter-spacing: 2px;
    border-radius: 8px;
    background-color: #e46363;
}

h1, h2{
    text-align: center;
    margin: 10px;
    padding-right: 100px;
}

label, input{
    font-size: 1.2em;
    display: inline-block;
    margin: 5px 0px;
    width: 400px;
    height: 15px;
    border-radius: 8px;
    color: #000000;
}

body{
    background-color: #e46363;
}

button{
    margin: 10px 0px;
    width: 408px;
    height: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    
}

#div-lista{
    padding: 25px;
    background-color: #ffffff;
    border-radius: 50px;
    margin: 50px;
}